* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

button {
  font-size: 2em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: black;
  background-color: rgb(15, 151, 133);
}

button:hover {
  background-color: rgb(12, 133, 119);
}

nav button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: black;
  background-color: rgb(15, 151, 133);
}

.container {
  max-width: 1400px;
  margin: auto;
}

.color-acento {
  color: rgb(15, 151, 133);
}

header {
  background-color: rgb(255, 255, 255);
}

header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: rgb(15, 151, 133);
  font-size: 1.6em;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: rgb(15, 151, 133);
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: black;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/FamilyDental_Hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero h1 {
  margin-top: 0;
}

.hero-cuadro {
  background-color: rgba(255, 255, 255, 0.67);
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#actualizaciones {
  text-align: center;
}

#actualizaciones .container {
  padding: 150px 12px;
}

#actualizaciones h2 {
  margin-top: 0;
  font-size: 3.2em;
}

#actualizaciones p {
  display: none;
}

#actualizaciones .recuadro {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 12px;
  border-radius: 15px;
}

.recuadro:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/Dentista_4.jpg");
}
.recuadro:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/Dentista_5.jpg");
}
.recuadro:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/Dentista_3.jpg");
}

#testimonios {
  text-align: center;
}

#testimonios .container {
  text-align: center;
  padding: 150px 12px;
}

footer {
  background-color: rgb(230, 230, 230);
}

footer p {
  margin: 0;
  color: rgb(100, 100, 100);
  padding: 12px;
}

footer .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  #testimonios .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  #testimonios .img-containers {
    justify-content: center;
    display: flex;
  }

  #testimonios .img-container {
    background-size: cover;
    background-position: center center;
    height: 50%;
    width: 50%;
    padding: 50px;
    margin: 12px;
  }

  .img-container:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(img/Testimonio_1.JPG);
  }

  .img-container:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(img/Testimonio_2.JPG);
  }
}
